<ion-view title="Camera" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tkKzLZw6Q4aSPGOsexLb_gry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Zh5dmelJQsWDSnSU5HUt_tatry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/ooi0OKbxQ1eJdPkftwHd_tatry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="camera-button-bar5" class="button-bar">
      <button id="camera-button32" style="font-weight:600;" class="button button-stable button-block">Library</button>
      <button id="camera-button35" class="button button-stable button-block">Photo</button>
      <button id="camera-button36" class="button button-stable button-block">Video</button>

    </div>
  </ion-content>
</ion-view>
