<ion-view title="Heart" hide-nav-bar="true" id="page8">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div id="heart-button-bar6" class="button-bar">
      <button id="heart-button37" class="button button-stable button-block">Following</button>
      <button id="heart-button40" style="font-weight:600;" class="button button-stable button-block border-bottom">You</button>
    </div>
    <ion-list id="heart-list2">
      <ion-item class="item-avatar item-icon-right" id="heart-list-item2">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item3">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item4">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item5">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item6">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item7">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item8">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item9">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item10">
        <img src="img/nrr7yf3LQhWhIW73Rtbq_face.jpg">
        <h2>Ich Troje, Zenek, and Boys</h2>
        <p>liked your post 12h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>