<ion-view title="Home" id="page5">
  <ion-content padding="false" class="has-header">
    <ion-list id="home-list1">
      <ion-item class="item-avatar item-icon-right" id="home-list-item1" ui-sref="tabsController.profile()">
        <img src="img/b5fsc16hR6nGWWjT2qQU_face.jpg">
        <h2>Jan Nowak</h2>
        <p>Bodzanów</p>
        <i class="icon ion-android-more-horizontal"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/kderc4NYTvGcLNBBB43K_ich_troje.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-button-bar3" class="button-bar">
      <button id="home-button15" class="button button-dark button-block button-clear icon ion-ios-heart-outline"></button>
      <button id="home-button18" class="button button-dark button-block button-clear icon ion-android-chat"></button>
      <button id="home-button19" class="button button-dark button-block button-clear icon ion-ios-paperplane-outline"></button>
      <button id="home-button20" class="button button-dark button-block button-clear"></button>
      <button id="home-button21" class="button button-dark button-block button-clear icon ion-ios-flag-outline"></button>
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots padding">
      <p style="color:#000000;">
        <strong>493,254 likes</strong>
        This is my favourite band :)</p>
    </div>
  </ion-content>
</ion-view>