<ion-view title="Profile" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="profile-container2">
      <ion-list id="profile-list3">
        <ion-item class="item-avatar" id="profile-list-item11">
          <img src="img/6Pvvxl60QqmNTF5h9NhM_face.jpg">
          <h2>Jan Nowak</h2>
          <p style="white-space:normal;">Bodzanów</p>
        </ion-item>
      </ion-list>
    </div>
    <button id="profile-button47" class="button button-positive button-block">Edit Profile</button>
    <ion-list id="profile-list6">
      <div class="item item-body" id="profile-list-item-container2">
        <div id="profile-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> Jan Nowak</strong>
          </p>

          <p style="color:#000000;">Ich Troje, Zenek, Boys and 50M more</p>
        </div>
      </div>
    </ion-list>
    <div id="profile-button-bar8" class="button-bar">
      <button id="profile-button51" class="button button-stable button-block icon ion-grid"></button>
      <button id="profile-button54" class="button button-stable button-block icon ion-ios-list-outline"></button>
      <button id="profile-button55" class="button button-stable button-block icon ion-ios-person"></button>
      <button id="profile-button56" class="button button-stable button-block icon ion-ios-book-outline"></button>
    </div>
    <div>
      <img src="img/j0bDHaywQ56Zw0UzvR5T_tatry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/kZJpx7g9Q2ybvjQSkBuU_tatry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>