<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-only" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/page1/page5" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-android-search" href="#/page1/page6" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Camera" icon="ion-ios-plus-outline" href="#/page1/page7" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Heart" icon="ion-ios-heart-outline" href="#/page1/page8" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-ios-person-outline" href="#/page1/tab7/page9" id="tabsController-tab7">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>